---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me";

const identity = {
    firstname: "Nicolas",
    country: "Colombia",
    occupation: "Game dev",
    hobbies: ["writing", "play videogames", "read"],
};
const skills = ["Blender", "Photoshop", "Substance 3D Painter", "Unity Engine"];

const skillColor = "navy";
const fontWeight = "bold";
const textTransform = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{ skillColor, fontWeight, textTransform }}>
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textTransform);
        }
    </style>
    <ul>
        <li>My name is {identity.firstname}.</li>
        <li>
            I'm from {identity.country} and i work as {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
